# SPDX-License-Identifier: MIT
# SPDX-FileCopyrightText: 2022 Carles Fernandez-Prades <carles.fernandez@gmail.com>
*~
.*.swp
.settings
.project
.cproject
.idea
.DS_Store
.vscode/
.vs/
sht31-dual-reader
